@page
@model EmpresaListarFuncionarios.Pages.empresa.DetailsModel

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.NomeEmpresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.NomeEmpresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Logradouro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Logradouro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Cep)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Cep)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Uf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Uf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Bairro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Complemento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Complemento)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Empresa.IdEmpresa">Editar</a> |
    <a asp-page="./Index">Voltar</a>
</div>
