@page
@model EmpresaListarFuncionarios.Pages.funcionario.DeleteModel

<h3>Deseja Apagar?</h3>
<div>
    <h4>Funcionario</h4>
    <hr />

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FuncionarioResponseDto.NomeEmpresa)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FuncionarioResponseDto.NomeEmpresa)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FuncionarioResponseDto.Cargo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FuncionarioResponseDto.Cargo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FuncionarioResponseDto.NomeFuncionario)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FuncionarioResponseDto.NomeFuncionario)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FuncionarioResponseDto.Salario)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FuncionarioResponseDto.Salario)
            </dd>
        </dl>

    
    <form method="post">
        <input type="hidden" asp-for="Funcionario.IdFuncionario" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar</a>
    </form>
</div>
