@page
@model EmpresaListarFuncionarios.Pages.funcionario.DetailsModel

<div>
    <h4>Funcionario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FuncionarioResponseDto.NomeEmpresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FuncionarioResponseDto.NomeEmpresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FuncionarioResponseDto.Cargo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FuncionarioResponseDto.Cargo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FuncionarioResponseDto.NomeFuncionario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FuncionarioResponseDto.NomeFuncionario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FuncionarioResponseDto.Salario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FuncionarioResponseDto.Salario)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Funcionario.IdFuncionario">Editar</a> |
    <a asp-page="./Index">Voltar</a>
</div>
