@page
@model EmpresaListarFuncionarios.Pages.funcionario.IndexModel

<p>
    <a asp-page="Create">Adicionar Funcionario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FuncionarioResponseDto[0].NomeEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuncionarioResponseDto[0].Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuncionarioResponseDto[0].NomeFuncionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuncionarioResponseDto[0].Salario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FuncionarioResponseDto) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFuncionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdFuncionario">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.IdFuncionario">Detalhar</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdFuncionario">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
